<html>
  {{template "header.tmpl.html"}}
<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/lang-logo.png">
    </a>
    <h1>Homework Server Deployment with CI/CD on GitHub Actions</h1>
    <p>Using two endpoints for this homework :</p>
    <a type="button" class="btn btn-lg btn-default" href="https://protected-sea-91009.herokuapp.com/followers/DrewSquid"><span class="glyphiconglyphicon-flash"></span> using username
    </a>
    <a type="button" class="btn btn-lg btn-primary" href="https://protected-sea-91009.herokuapp.com/drew/detail"><span class="glyphiconglyphicon-download"></span> using userid</a>
    <br><br>
    <p>Created using template from heroku</p>
  </div>
</div>

</body>
</html>
